<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><span th:text="${action}">action</span></h4>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/roles/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Роли</a>
                        <span class="breadcrumb-item active">[[${action}]] Роли</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">

                        <div class="breadcrumb-elements-item dropdown p-0"
                             sec:authorize="hasAnyRole('ROLE_OP_USER_HAS_CHANGE_HIS_SETTINGS')">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Настройки
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                                <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                                <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">

            <!-- Inner container -->
            <div class="d-md-flex align-items-md-start">

                <!-- Right content -->
                <div class="tab-content w-100">
                    <div class="tab-pane fade active show" id="profile">

                        <!-- Profile info -->
                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h5 class="card-title">Настройка роли</h5>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <form th:object="${role}" th:action="@{/roles/updateRole/{id}(id=${id})}"
                                      th:method="post">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Название</label>
                                                <input type="text" required th:value="${role.getDisplayName()}"
                                                       th:field="*{displayName}" class="form-control">
                                            </div>

                                            <div class="col-md-6">
                                                <label>Имя</label>
                                                <input type="text" required th:value="${role.getName()}"
                                                       th:field="*{name}" class="form-control">
                                            </div>

                                            <div class="col-md-6">
                                                <label>Права</label>
                                                <div th:each="p : ${allPermissions}">
                                                    <input type="checkbox" th:field="*{permissions}"
                                                           th:value="${p.getId()}"/>
                                                    <label th:checked="true" th:text="${p.getDisplayName()}">Heating</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--                                    <div class="form-group">-->
                                    <!--                                        <div class="row">-->
                                    <!--                                            <div class="col-md-6">-->
                                    <!--                                                <label>Имя</label>-->
                                    <!--                                                <input type="text" required th:value="${user.getFirstName()}"-->
                                    <!--                                                       th:field="*{firstName}" class="form-control">-->
                                    <!--                                            </div>-->
                                    <!--                                            <div class="col-md-6">-->
                                    <!--                                                <label>Фамилия</label>-->
                                    <!--                                                <input type="text" required th:value="${user.getLastName()}"-->
                                    <!--                                                       th:field="*{lastName}" class="form-control">-->
                                    <!--                                            </div>-->
                                    <!--                                            <div class="col-md-6">-->
                                    <!--                                                <label>Отчество</label>-->
                                    <!--                                                <input type="text" required th:value="${user.getFatherName()}"-->
                                    <!--                                                       th:field="*{fatherName}" class="form-control">-->
                                    <!--                                            </div>-->
                                    <!--                                            <div class="col-md-6">-->
                                    <!--                                                <label>Дата создания</label>-->
                                    <!--                                                <input type="date" required th:value="${user.getCreatedAt()}"-->
                                    <!--                                                       th:field="*{createdAt}" class="form-control">-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                    <!--                                    <div class="form-group">-->
                                    <!--                                        <div class="row">-->
                                    <!--                                            <div class="col-md-6">-->
                                    <!--                                                <label>Email</label>-->
                                    <!--                                                <input type="text" required th:value="${user.getEmail()}"-->
                                    <!--                                                       th:field="*{email}" class="form-control">-->
                                    <!--                                            </div>-->
                                    <!--                                            <div class="col-md-6">-->
                                    <!--                                                <label>Telegram</label>-->
                                    <!--                                                <input type="text" th:value="${user.getTelegramUsername()}"-->
                                    <!--                                                       th:field="*{telegramUsername}" class="form-control">-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="form-group">-->
                                    <!--                                        <div class="row">-->
                                    <!--                                            <div class="col-md-6">-->
                                    <!--                                                <label>Новый пароль</label>-->
                                    <!--                                                <input th:field="*{password}"-->
                                    <!--                                                       type="password" placeholder="Введите новый пароль"-->
                                    <!--                                                       class="form-control">-->
                                    <!--                                            </div>-->

                                    <!--                                            <div class="col-md-6">-->
                                    <!--                                                <label>Повторите пароль</label>-->
                                    <!--                                                <input th:field="*{confirmPassword}"-->
                                    <!--                                                       type="password" placeholder="Повторите пароль"-->
                                    <!--                                                       class="form-control">-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <div class="text-right">
                                        <input type="button" class="btn btn-light"
                                               onclick="window.location.href = '/users';" value="Отмена"/>
                                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /profile info -->
                    </div>

                    <div class="tab-pane fade" id="inbox">

                        <!-- My inbox -->
                        <div class="card">
                            <div class="card-header bg-transparent header-elements-inline">
                                <h6 class="card-title">My inbox</h6>

                                <div class="header-elements">
                                    <span class="badge bg-blue">25 new today</span>
                                </div>
                            </div>

                            <!-- Action toolbar -->
                            <div class="navbar navbar-light bg-light navbar-expand-lg border-bottom-0 py-lg-2">
                                <div class="text-center d-lg-none w-100">
                                    <button type="button" class="navbar-toggler w-100" data-toggle="collapse"
                                            data-target="#inbox-toolbar-toggle-multiple">
                                        <i class="icon-circle-down2"></i>
                                    </button>
                                </div>

                                <div class="navbar-collapse text-center text-lg-left flex-wrap collapse"
                                     id="inbox-toolbar-toggle-multiple">
                                    <div class="mt-3 mt-lg-0">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-icon btn-checkbox-all">
                                                <input type="checkbox" class="form-input-styled" data-fouc>
                                            </button>

                                            <button type="button" class="btn btn-light btn-icon dropdown-toggle"
                                                    data-toggle="dropdown"></button>
                                            <div class="dropdown-menu">
                                                <a href="#" class="dropdown-item">Select all</a>
                                                <a href="#" class="dropdown-item">Select read</a>
                                                <a href="#" class="dropdown-item">Select unread</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">Clear selection</a>
                                            </div>
                                        </div>

                                        <div class="btn-group ml-3 mr-lg-3">
                                            <button type="button" class="btn btn-light"><i class="icon-pencil7"></i>
                                                <span class="d-none d-lg-inline-block ml-2">Compose</span></button>
                                            <button type="button" class="btn btn-light"><i class="icon-bin"></i> <span
                                                    class="d-none d-lg-inline-block ml-2">Delete</span></button>
                                            <button type="button" class="btn btn-light"><i class="icon-spam"></i> <span
                                                    class="d-none d-lg-inline-block ml-2">Spam</span></button>
                                        </div>
                                    </div>

                                    <div class="navbar-text ml-lg-auto"><span class="font-weight-semibold">1-50</span>
                                        of <span class="font-weight-semibold">528</span></div>

                                    <div class="ml-lg-3 mb-3 mb-lg-0">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-icon disabled"><i
                                                    class="icon-arrow-left12"></i></button>
                                            <button type="button" class="btn btn-light btn-icon"><i
                                                    class="icon-arrow-right13"></i></button>
                                        </div>

                                        <div class="btn-group ml-3">
                                            <button type="button" class="btn btn-light dropdown-toggle"
                                                    data-toggle="dropdown"><i class="icon-cog3"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Action</a>
                                                <a href="#" class="dropdown-item">Another action</a>
                                                <a href="#" class="dropdown-item">Something else here</a>
                                                <a href="#" class="dropdown-item">One more line</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /action toolbar -->


                        </div>
                        <!-- /my inbox -->

                    </div>

                </div>
                <!-- /right content -->

            </div>
            <!-- /inner container -->

        </div>
        <!-- /content area -->
        <!-- /content area -->


        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

</body>
</html>
