<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Рабочий стол - ADMDOC</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link th:href="@{/css/icons/icomoon/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap_limitless.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/layout.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/components.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/colors.min.css}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script th:src="@{/js/main/jquery.min.js}"></script>
    <script th:src="@{/js/main/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/plugins/loaders/blockui.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script th:src="@{/js/plugins/forms/styling/switchery.min.js}"></script>
    <script th:src="@{/js/plugins/ui/moment/moment.min.js}"></script>
    <script th:src="@{/js/plugins/pickers/daterangepicker.js}"></script>
    <script th:src="@{/js/plugins/ui/perfect_scrollbar.min.js}"></script>

    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/demo_pages/layout_fixed_sidebar_custom.js}"></script>
    <script th:src="@{/js/plugins/editors/summernote/summernote.min.js}"></script>
    <script th:src="@{/js/plugins/extensions/jquery_ui/widgets.min.js}"></script>
    <script th:src="@{/js/demo_pages/task_manager_detailed.js}"></script>
    <script th:src="@{/js/plugins/ui/perfect_scrollbar.min.js}"></script>
    <script th:src="@{/js/plugins/tables/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/plugins/forms/selects/select2.min.js}"></script>
    <script th:src="@{/js/plugins/forms/styling/uniform.min.js}"></script>
    <script th:src="@{/js/demo_pages/form_inputs.js}"></script>
    <script th:src="@{/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
    <script th:src="@{/js/demo_pages/form_select2.js}"></script>
    <script th:src="@{/js/plugins/extensions/jquery_ui/effects.min.js}"></script>
    <script th:src="@{/js/plugins/extensions/mousewheel.min.js}"></script>
    <script th:src="@{/js/demo_pages/form_select2.js}"></script>
    <script th:src="@{/js/plugins/extensions/jquery_ui/globalize/cultures/datepicker-ru.js}"></script>
    <script th:src="@{/js/demo_pages/jqueryui_forms.js}"></script>
    <script th:src="@{/js/plugins/forms/validation/validate.min.js}"></script>
    <script th:src="@{/js/plugins/forms/inputs/touchspin.min.js}"></script>
    <script th:src="@{/js/plugins/forms/styling/switch.min.js}"></script>
    <script th:src="@{/js/demo_pages/form_validation.js}"></script>
    <script th:src="@{/js/demo_pages/messages_ru.js}"></script>
    <script th:src="@{/js/plugins/notifications/pnotify.min.js}"></script>
    <script th:src="@{/js/plugins/visualization/d3/d3.min.js}"></script>
    <script th:src="@{/js/plugins/visualization/d3/d3_tooltip.js}"></script>
    <!-- /theme JS files -->

</head>
</html>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerForlogin">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>АИС - ADMDOC</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link th:href="@{/css/icons/icomoon/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap_limitless.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/layout.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/components.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/colors.min.css}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script th:src="@{/js/main/jquery.min.js}"></script>
    <script th:src="@{/js/main/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/plugins/loaders/blockui.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script th:src="@{/js/plugins/forms/styling/switchery.min.js}"></script>
    <script th:src="@{/js/plugins/ui/moment/moment.min.js}"></script>

    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/demo_pages/layout_fixed_sidebar_custom.js}"></script>
    <script th:src="@{/js/plugins/editors/summernote/summernote.min.js}"></script>
    <script th:src="@{/js/plugins/extensions/jquery_ui/widgets.min.js}"></script>
    <script th:src="@{/js/demo_pages/task_manager_detailed.js}"></script>
    <script th:src="@{/js/plugins/forms/selects/select2.min.js}"></script>
    <script th:src="@{/js/plugins/forms/styling/uniform.min.js}"></script>
    <script th:src="@{/js/demo_pages/form_inputs.js}"></script>
    <script th:src="@{/js/plugins/extensions/jquery_ui/interactions.min.js}"></script>
    <script th:src="@{/js/demo_pages/form_select2.js}"></script>
    <script th:src="@{/js/plugins/extensions/jquery_ui/effects.min.js}"></script>
    <script th:src="@{/js/plugins/extensions/mousewheel.min.js}"></script>
    <script th:src="@{/js/demo_pages/form_select2.js}"></script>
    <script th:src="@{/js/plugins/extensions/jquery_ui/globalize/cultures/datepicker-ru.js}"></script>
    <script th:src="@{/js/demo_pages/jqueryui_forms.js}"></script>
    <script th:src="@{/js/plugins/forms/validation/validate.min.js}"></script>
    <script th:src="@{/js/plugins/forms/inputs/touchspin.min.js}"></script>
    <script th:src="@{/js/plugins/forms/styling/switch.min.js}"></script>
    <script th:src="@{/js/demo_pages/form_validation.js}"></script>
    <script th:src="@{/js/demo_pages/messages_ru.js}"></script>
    <script th:src="@{/js/plugins/notifications/pnotify.min.js}"></script>
    <script th:src="@{/js/plugins/visualization/d3/d3.min.js}"></script>
    <script th:src="@{/js/plugins/visualization/d3/d3_tooltip.js}"></script>
    <!-- /theme JS files -->

</head>
</html>