<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<!-- Main navbar -->
<div th:fragment="navbar" class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="navbar-brand">
        <a href="/" class="d-inline-block">
            <img src="../static/images/logo_light.png" th:src="@{/images/logo_light.png}" alt="">
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>

        </ul>

        <span class="badge ml-md-3 mr-md-auto"> </span>

        <ul class="navbar-nav">

            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                    <img src="../static/images/placeholders/placeholder.jpg"
                         th:src="@{/images/placeholders/placeholder.jpg}" class="rounded-circle mr-2" height="34"
                         alt="">
                    <div >
                        <span th:text="${#request.userPrincipal.principal.login}"></span>
                    </div>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a th:href="@{/userpage}" class="dropdown-item"><i class="icon-user-plus"></i> Профиль</a>
                    <div class="dropdown-divider"></div>
<!--                    <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Настройки</a>-->
                    <a th:href="@{/logout}" class="dropdown-item"><i class="icon-switch2"></i> Выйти</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->
</html>