<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Main sidebar -->
<div th:fragment="sidebar" class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3">
                        <a th:href="@{/userpage}"><img src="../static/images/placeholders/placeholder.jpg"
                                         th:src="@{/images/placeholders/placeholder.jpg}" width="38" height="38"
                                         class="rounded-circle" alt=""></a>
                    </div>

                    <div class="media-body">
                        <div class="media-title font-weight-semibold">
                            <span th:text="${#request.userPrincipal.principal.firstName + ' ' + #request.userPrincipal.principal.lastName}"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="icon-home4"></i>
                        <span>Рабочий стол</span>
                    </a>
                </li>
                <th:block sec:authorize="hasAnyRole('ROLE_OP_INCOMING_BOX_LIST_ALL', 'ROLE_OP_OUT_BOX_LIST_ALL','ROLE_OP_INNER_BOX_LIST_ALL')">
                    <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-stack"></i> <span>Канцелярия</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Канцелярия">

                        <th:block sec:authorize="hasAnyRole('ROLE_OP_INCOMING_BOX_LIST_ALL')">
                        <li class="nav-item"><a href="/inbox" class="nav-link">Входящие</a></li>
                        </th:block>

                        <th:block sec:authorize="hasAnyRole('ROLE_OP_OUT_BOX_LIST_ALL')">
                        <li class="nav-item"><a href="/outbox" class="nav-link">Исходящие</a></li>
                        </th:block>

                        <th:block sec:authorize="hasAnyRole('ROLE_OP_INNER_BOX_LIST_ALL')">
                        <li class="nav-item"><a href="/inner" class="nav-link">Внутренние</a></li>
                         </th:block>

                    </ul>
                </li>
                </th:block>
                <th:block sec:authorize="hasAnyRole('ROLE_OP_TASK_LIST_ALL', 'ROLE_OP_TASK_LIST_MY')">
                <li class="nav-item"><a href="/tasks" class="nav-link"><i class="icon-file-text "></i>
                    <span>Задачи</span></a></li>
                </th:block>
                <th:block sec:authorize="hasAnyRole('ROLE_OP_USER_EDIT_PERMISSIONS')">
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-people"></i> <span>Пользователи</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Пользователи">
                        <li class="nav-item"><a href="/users/" class="nav-link">Пользователи</a></li>
                        <li class="nav-item"><a href="/roles/" class="nav-link">Роли и права доступа</a></li>
<!--                        <li class="nav-item"><a href="#" class="nav-link">Права доступа</a></li>-->
                    </ul>
                </li>
                </th:block>
<!--                <li class="nav-item nav-item-submenu">-->
<!--                    <a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>Справочники</span></a>-->

<!--                    <ul class="nav nav-group-sub" data-submenu-title="Справочники">-->
<!--                        <li class="nav-item"><a href="#" class="nav-link">Справочники</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item"><a href="#l" class="nav-link"><i class="icon-wrench3"></i>-->
<!--                    <span>Настройки</span></a></li>-->
                <!-- /main -->

                <!-- /page kits -->

            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
</html>