<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top">

<!-- Main navbar -->
<div th:replace="~{/fragments/navbar :: navbar}"></div>
<!-- /main navbar -->


<!-- Page content -->
<div class="page-content">

    <!-- Main sidebar -->
    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>
    <!-- /main sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><span class="font-weight-semibold">Менеджер задач</span>
                        - Просмотр</h4>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="d-flex justify-content-center">
                        <!--                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>-->
                        <a th:href="@{'/tasks/edit/' + ${taskEntity.getId()}}"
                           class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i>
                            <span>Редактировать</span></a>
                        <a href="/inner/" class="btn btn-link btn-float text-default"><i
                                class="icon-calendar5 text-primary"></i> <span>Список задач</span></a>
                    </div>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Рабочий стол</a>
                        <a href="/tasks" class="breadcrumb-item">Список задач</a>
                        <span class="breadcrumb-item active">Просмотр задачи</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">

                        <div class="breadcrumb-elements-item dropdown p-0"
                             sec:authorize="hasAnyRole('ROLE_OP_USER_HAS_CHANGE_HIS_SETTINGS')">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Настройки
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                                <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                                <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">

            <!-- Inner container -->
            <div class="d-flex align-items-start flex-column flex-md-row">

                <!-- Left content -->
                <div class="w-100 overflow-auto order-2 order-md-1">

                    <!-- Task overview -->
                    <div class="card">
                        <div class="card-header header-elements-md-inline">
                            <h5 class="card-title" th:text="'#' + ${taskEntity.id} + ' '+ ${taskEntity.title}">id
                                title</h5>

                            <!--								<div class="header-elements">-->
                            <!--									<a href="#" class="btn bg-teal-400 btn-sm btn-labeled btn-labeled-right">Принять? <b><i class="icon-alarm-check"></i></b></a>-->
                            <!--			                	</div>-->
                        </div>

                        <div class="card-body">
                            <h6 class="font-weight-semibold">Сожержание</h6>
                            <p class="mb-3" th:text="${taskEntity.description}">Then sluggishly this camel learned
                                woodchuck far stretched unspeakable notwithstanding the walked owing stung mellifluously
                                glumly rooster more examined one that combed until a less less witless pouted up voluble
                                timorously glared elaborate giraffe steady while grinned and got one beaver to walked.
                                Connected picked rashly ocelot flirted while wherever unwound much more one inside
                                emotionally well much woolly amidst upon far burned ouch sadistically became.</p>


                            <!--			                    <h6 class="font-weight-semibold">Прикрепленные файлы</h6>-->

                            <div class="row">
                                <!--									<div class="col-xl-3 col-sm-6">-->
                                <!--										<div class="card">-->
                                <!--											<div class="card-img-actions mx-1 mt-1">-->
                                <!--												<img class="card-img img-fluid" th:src="@{/images/placeholders/placeholder.jpg}" alt="">-->
                                <!--												<div class="card-img-actions-overlay card-img">-->
                                <!--													<a th:href="@{/images/placeholders/placeholder.jpg}" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">-->
                                <!--														<i class="icon-zoomin3"></i>-->
                                <!--													</a>-->

                                <!--													<a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">-->
                                <!--														<i class="icon-download"></i>-->
                                <!--													</a>-->
                                <!--												</div>-->
                                <!--											</div>-->

                                <!--											<div class="card-body">-->
                                <!--												<div class="d-flex align-items-start flex-wrap">-->
                                <!--													<div class="font-weight-semibold">dashboard_draft.png</div>-->
                                <!--													<span class="font-size-sm text-muted ml-auto">378Kb</span>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--										</div>-->
                                <!--									</div>-->

                                <!--									<div class="col-xl-3 col-sm-6">-->
                                <!--										<div class="card">-->
                                <!--											<div class="card-img-actions mx-1 mt-1">-->
                                <!--												<img class="card-img img-fluid" th:src="@{/images/placeholders/placeholder.jpg}" alt="">-->
                                <!--												<div class="card-img-actions-overlay card-img">-->
                                <!--													<a th:href="@{/images/placeholders/placeholder.jpg}" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">-->
                                <!--														<i class="icon-zoomin3"></i>-->
                                <!--													</a>-->

                                <!--													<a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">-->
                                <!--														<i class="icon-download"></i>-->
                                <!--													</a>-->
                                <!--												</div>-->
                                <!--											</div>-->

                                <!--											<div class="card-body">-->
                                <!--												<div class="d-flex align-items-start flex-wrap">-->
                                <!--													<div class="font-weight-semibold">profile_page.png</div>-->
                                <!--													<span class="font-size-sm text-muted ml-auto">1.2Mb</span>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--										</div>-->
                                <!--									</div>-->

                            </div>
                        </div>

                        <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                            <div th:if="${canAcceptReject} == true" class="align-items-sm-center">
                                <form action="#" th:action="@{/tasks/accept/{id}(id=${id})}" method="post">
                                    <button type="submit" class="btn btn-success">Принять</button>
                                </form>
                            </div>

                            <div th:if="${canAcceptReject} == true" class="align-items-sm-center">
                                <form action="#" th:action="@{/tasks/reject/{id}(id=${id})}" method="post">
                                    <button type="submit" class="btn btn-danger">Отклонить</button>
                                </form>
                            </div>

                            <div th:if="${canDone} == true" class="align-items-sm-center">
                                <form action="#" th:action="@{/tasks/done/{id}(id=${id})}" method="post">
                                    <button type="submit" class="btn btn-success">Выполнена</button>
                                </form>
                            </div>

                            <!--								<span class="d-flex align-items-center">-->
                            <!--									<span class="badge badge-mark border-blue mr-2"></span>-->
                            <!--									Статус:-->
                            <!--									<div class="dropdown ml-2">-->
                            <!--										<a href="#" class="text-default font-weight-semibold dropdown-toggle" data-toggle="dropdown">Не принята</a>-->
                            <!--										<div class="dropdown-menu" >-->
                            <!--											<a href="#" class="dropdown-item active">Принята</a>-->
                            <!--											<a href="#" class="dropdown-item">В работе</a>-->
                            <!--											<a href="#" class="dropdown-item">Закрыта</a>-->
                            <!--											<a href="#" class="dropdown-item">Выполнена</a>-->
                            <!--											&lt;!&ndash;<div class="dropdown-divider"></div>-->
                            <!--											<a href="#" class="dropdown-item">Dublicate</a>-->
                            <!--											<a href="#" class="dropdown-item">Invalid</a>-->
                            <!--											<a href="#" class="dropdown-item">Wontfix</a>&ndash;&gt;-->
                            <!--										</div>-->
                            <!--									</div>-->
                            <!--								</span>-->

                            <!--								<ul class="list-inline list-inline-condensed mb-0 mt-2 mt-sm-0">-->
                            <!--									<li class="list-inline-item">-->
                            <!--										<a href="#" class="text-default"><i class="icon-compose"></i></a>-->
                            <!--									</li>-->
                            <!--									&lt;!&ndash;<li class="list-inline-item">-->
                            <!--										<a href="#" class="text-default"><i class="icon-trash"></i></a>-->
                            <!--									</li>&ndash;&gt;-->
                            <!--									<li class="list-inline-item dropdown">-->
                            <!--										<a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-grid-alt"></i></a>-->

                            <!--										<div class="dropdown-menu dropdown-menu-right">-->
                            <!--											<a href="#" class="dropdown-item"><i class="icon-alarm-add"></i> Check in</a>-->
                            <!--											<a href="#" class="dropdown-item"><i class="icon-attachment"></i> Attach screenshot</a>-->
                            <!--											<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Assign users</a>-->
                            <!--											<a href="#" class="dropdown-item"><i class="icon-warning2"></i> Report</a>-->
                            <!--										</div>-->
                            <!--									</li>-->
                            <!--								</ul>-->
                        </div>
                    </div>
                    <!-- /task overview -->


                    <!-- Comments -->
                    <!--						<div class="card">-->
                    <!--							<div class="card-header header-elements-inline">-->
                    <!--								<h5 class="card-title">Отчет выполнения</h5>-->
                    <!--							</div>-->

                    <!--							<div class="card-body">-->
                    <!--								<div class="mb-4">-->
                    <!--									<div class="media flex-column flex-md-row">-->
                    <!--										<div class="mr-md-3 mb-2 mb-md-0">-->
                    <!--											<a href="#"><img th:src="@{/images/placeholders/placeholder.jpg}" class="rounded-circle" width="36" height="36" alt=""></a>-->
                    <!--										</div>-->

                    <!--										<div class="media-body">-->
                    <!--											<div class="media-title">-->
                    <!--												<a href="#" class="font-weight-semibold">William Jennings</a>-->
                    <!--												<span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">Just now</span>-->
                    <!--											</div>-->

                    <!--											<p>He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.</p>-->

                    <!--											<ul class="list-inline font-size-sm mb-0">-->
                    <!--												<li class="list-inline-item">114 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>-->
                    <!--												<li class="list-inline-item"><a href="#">Отправить</a></li>-->
                    <!--												<li class="list-inline-item"><a href="#">Редактировать</a></li>-->
                    <!--											</ul>-->
                    <!--										</div>-->
                    <!--									</div>-->

                    <!--								</div>-->

                    <!--								<div class="mb-3">-->
                    <!--									<div id="add-comment">Get his declared appetite distance his together now families. Friends am himself at on norland it viewing. Suspected elsewhere you belonging continued commanded she...</div>-->
                    <!--								</div>-->
                    <!--								-->
                    <!--								<div class="text-right">-->
                    <!--									<button type="button" class="btn bg-blue"><i class="icon-plus22 mr-1"></i> Отправить отчет</button>-->
                    <!--								</div>-->
                    <!--							</div>-->
                    <!--						</div>-->
                    <!-- /comments -->

                </div>
                <!-- /left content -->


                <!-- Right sidebar component -->
                <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-350 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

                    <!-- Sidebar content -->
                    <div class="sidebar-content">

                        <!-- Task details -->
                        <div class="card">
                            <div class="card-header bg-transparent header-elements-inline">
                                <span class="card-title font-weight-semibold">Детали задачи</span>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-borderless table-xs my-2">
                                <tbody>
                                <!--<tr>
                                    <td><i class="icon-briefcase mr-2"></i> Project:</td>
                                    <td class="text-right"><a href="#">Singular app</a></td>
                                </tr>-->
                                <!--										<tr>-->
                                <!--											<td><i class="icon-circles2 mr-2"></i> Приоритет:</td>-->
                                <!--											<td class="text-right">-->
                                <!--												<div class="btn-group">-->
                                <!--													<a href="#" class="badge bg-danger dropdown-toggle" data-toggle="dropdown">Срочно</a>-->
                                <!--													<div class="dropdown-menu dropdown-menu-right">-->
                                <!--														<a href="#" class="dropdown-item active"><span class="badge badge-mark mr-2 bg-danger border-danger"></span> Срочно</a>-->
                                <!--														<a href="#" class="dropdown-item"><span class="badge badge-mark mr-2 bg-success border-success"></span> Нормальный</a>-->
                                <!--														<a href="#" class="dropdown-item"><span class="badge badge-mark mr-2 bg-grey-300 border-grey-300"></span> Низкий</a>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</td>-->
                                <!--										</tr>-->
                                <tr>
                                    <td><i class="icon-file-check mr-2"></i> Статус:</td>
                                    <td class="text-right" th:text="${taskEntity.taskStatus.displayName}">Status</td>
                                </tr>
                                <tr>
                                    <td><i class="icon-file-plus mr-2"></i> Поставлена:</td>
                                    <td class="text-right"
                                        th:text="${taskEntity.userCreated.lastName + ' ' + taskEntity.userCreated.firstName + ' ' + taskEntity.userCreated.fatherName}">
                                        Created user
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="icon-alarm-add mr-2"></i> Обновлена:</td>
                                    <td class="text-right text-muted"
                                        th:text="${#dates.format(taskEntity.updatedAt,'dd.MM.yyyy HH:mm')}">12 May, 2015
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="icon-alarm-check mr-2"></i> Создана:</td>
                                    <td class="text-right text-muted"
                                        th:text="${#dates.format(taskEntity.createdAt,'dd.MM.yyyy HH:mm')}">25 Feb, 2015
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!--								<div class="card-footer d-flex align-items-center">-->
                            <!--									<ul class="list-inline list-inline-condensed mb-0">-->
                            <!--										<li class="list-inline-item">-->
                            <!--											<a href="#" class="text-default"><i class="icon-pencil7"></i></a>-->
                            <!--										</li>-->
                            <!--										<li class="list-inline-item">-->
                            <!--											<a href="#" class="text-default"><i class="icon-bin"></i></a>-->
                            <!--										</li>-->
                            <!--									</ul>-->

                            <!--									<ul class="list-inline list-inline-condensed mb-0 ml-auto">-->
                            <!--										<li class="list-inline-item dropdown">-->
                            <!--											<a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i></a>-->

                            <!--											<div class="dropdown-menu dropdown-menu-right">-->
                            <!--												<a href="#" class="dropdown-item"><i class="icon-alarm-add"></i> Check in</a>-->
                            <!--												<a href="#" class="dropdown-item"><i class="icon-attachment"></i> Attach screenshot</a>-->
                            <!--												<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Assign users</a>-->
                            <!--												<a href="#" class="dropdown-item"><i class="icon-warning2"></i> Report</a>-->
                            <!--											</div>-->
                            <!--										</li>-->
                            <!--									</ul>-->
                            <!--								</div>-->
                        </div>
                        <!-- /task details -->


                        <!-- Revisions -->
                        <!--		<div class="card">
                                    <div class="card-header bg-transparent header-elements-inline">
                                        <span class="card-title font-weight-semibold">Revisions</span>
                                        <div class="header-elements">
                                            <div class="list-icons">
                                                <a class="list-icons-item" data-action="collapse"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="mr-3">
                                                    <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon">
                                                        <i class="icon-git-pull-request"></i>
                                                    </a>
                                                </div>

                                                <div class="media-body">
                                                    Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                                    <div class="text-muted font-size-sm">4 minutes ago</div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="mr-3">
                                                    <a href="#" class="btn bg-transparent border-warning text-warning rounded-round border-2 btn-icon">
                                                        <i class="icon-git-commit"></i>
                                                    </a>
                                                </div>

                                                <div class="media-body">
                                                    Add full font overrides for popovers and tooltips
                                                    <div class="text-muted font-size-sm">36 minutes ago</div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="mr-3">
                                                    <a href="#" class="btn bg-transparent border-info text-info rounded-round border-2 btn-icon">
                                                        <i class="icon-git-branch"></i>
                                                    </a>
                                                </div>

                                                <div class="media-body">
                                                    <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch
                                                    <div class="text-muted font-size-sm">2 hours ago</div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="mr-3">
                                                    <a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon">
                                                        <i class="icon-git-merge"></i>
                                                    </a>
                                                </div>

                                                <div class="media-body">
                                                    <a href="#">Eugene Kopyov</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
                                                    <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="mr-3">
                                                    <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon">
                                                        <i class="icon-git-pull-request"></i>
                                                    </a>
                                                </div>

                                                <div class="media-body">
                                                    Have Carousel ignore keyboard events
                                                    <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>-->
                        <!-- /revisions -->


                        <!-- Assigned users -->
                        <div class="card">
                            <div class="card-header bg-transparent header-elements-inline">
                                <span class="card-title font-weight-semibold">Исполнитель</span>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="mr-3 position-relative">
                                            <img th:src="@{/images/placeholders/placeholder.jpg}" width="36" height="36"
                                                 class="rounded-circle" alt="">
                                        </a>

                                        <div class="media-body">
                                            <div class="font-weight-semibold"
                                                 th:text="${taskEntity.user.lastName + ' ' + taskEntity.user.firstName + ' ' +taskEntity.user.fatherName}">
                                                Rebecca Jameson
                                            </div>
                                            <!--												<span class="font-size-sm text-muted">Web developer</span>-->
                                        </div>

                                        <!--						<div class="ml-3 align-self-center">
                                                                    <div class="dropdown">
                                                                        <a href="#" class="text-default dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-more2"></i></a>
                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                            <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Профиль</a>
                                                                            <div class="dropdown-divider"></div>
                                                                            <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Статистика</a>
                                                                        </div>
                                                                    </div>
                                                                </div>-->
                                    </li>

                                    <!--										<li class="media">-->
                                    <!--											<a href="#" class="mr-3 position-relative">-->
                                    <!--												<img th:src="@{/images/placeholders/placeholder.jpg}" width="36" height="36" class="rounded-circle" alt="">-->
                                    <!--											</a>-->

                                    <!--											<div class="media-body">-->
                                    <!--												<div class="font-weight-semibold"><a href="#">Rebecca Jameson</a></div>-->
                                    <!--												<span class="font-size-sm text-muted">Web developer</span>-->
                                    <!--											</div>-->

                                    <!--						<div class="ml-3 align-self-center">
                                                                <div class="dropdown">
                                                                    <a href="#" class="text-default dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-more2"></i></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Профиль</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Статистика</a>
                                                                    </div>
                                                                </div>
                                                            </div>-->
                                    <!--										</li>-->
                                </ul>
                            </div>
                        </div>
                        <!-- /assigned users -->


                    </div>
                    <!-- /sidebar content -->

                </div>
                <!-- /right sidebar component -->

            </div>
            <!-- /inner container -->

        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

</body>
</html>
