<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Пользовательский интерфейс</span>
                        - <span th:text="${action}">action</span></h4>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Рабочий стол</a>
                        <span class="breadcrumb-item active">[[${action}]] Пользователь</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">

                        <div class="breadcrumb-elements-item dropdown p-0"
                             sec:authorize="hasAnyRole('ROLE_OP_USER_HAS_CHANGE_HIS_SETTINGS')">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Настройки
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                                <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                                <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <!-- Content area -->
        <div class="content">

            <!-- Inner container -->
            <div class="d-md-flex align-items-md-start">

                <!-- Left sidebar component -->
                <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-left wmin-300 border-0 shadow-0 sidebar-expand-md">

                    <!-- Sidebar content -->
                    <div class="sidebar-content">

                        <!-- Navigation -->
                        <div class="card">
                            <div class="card-body bg-indigo-400 text-center card-img-top"
                                 style="background-image: url(../../../../global_assets/images/backgrounds/panel_bg.png); background-size: contain;">
                                <div class="card-img-actions d-inline-block mb-3">
                                    <img class="img-fluid rounded-circle" src="/images/placeholders/placeholder.jpg"
                                         width="170" height="170" alt="">
<!--                                    <div class="card-img-actions-overlay rounded-circle">-->
<!--                                        <a href="#"-->
<!--                                           class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">-->
<!--                                            <i class="icon-plus3"></i>-->
<!--                                        </a>-->
<!--                                        <a href="#"-->
<!--                                           class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">-->
<!--                                            <i class="icon-link"></i>-->
<!--                                        </a>-->
<!--                                    </div>-->
                                </div>

                                <h6 class="font-weight-semibold mb-0"
                                    th:text="${#request.userPrincipal.principal.firstName + ' ' + #request.userPrincipal.principal.lastName}"></h6>
                                <span class="d-block opacity-75"
                                      th:text="${user.getRole().getDisplayName()}">Тут роль</span>

<!--                                <div class="list-icons list-icons-extended mt-3">-->
<!--                                    <a href="#" class="list-icons-item text-white" data-popup="tooltip" title=""-->
<!--                                       data-container="body" data-original-title="Google Drive"><i-->
<!--                                            class="icon-google-drive"></i></a>-->
<!--                                    <a href="#" class="list-icons-item text-white" data-popup="tooltip" title=""-->
<!--                                       data-container="body" data-original-title="Twitter"><i class="icon-twitter"></i></a>-->
<!--                                    <a href="#" class="list-icons-item text-white" data-popup="tooltip" title=""-->
<!--                                       data-container="body" data-original-title="Github"><i-->
<!--                                            class="icon-github"></i></a>-->
<!--                                </div>-->
                            </div>

                            <div class="card-body p-0">
                                <ul class="nav nav-sidebar mb-2">
                                    <li class="nav-item-header"></li>
                                    <li class="nav-item">
                                        <a href="#profile" class="nav-link active" data-toggle="tab">
                                            <i class="icon-user"></i>
                                            Мой профиль
                                        </a>
                                    </li>
<!--                                    <li class="nav-item-divider"></li>-->
<!--                                    <li class="nav-item">-->
<!--                                        <a th:href="@{/logout}" class="nav-link" data-toggle="tab">-->
<!--                                            <i class="icon-switch2"></i>-->
<!--                                            Выход-->
<!--                                        </a>-->
<!--                                    </li>-->
                                </ul>
                            </div>
                        </div>
                        <!-- /navigation -->


                    </div>
                    <!-- /sidebar content -->

                </div>
                <!-- /left sidebar component -->


                <!-- Right content -->
                <div class="tab-content w-100">
                    <div class="tab-pane fade active show" id="profile">

                        <!-- Profile info -->
                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h5 class="card-title">Информация пользователя</h5>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <form th:object="${user}" th:action="@{/userpage}" th:method="post">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Имя пользователя</label>
                                                <input type="text" th:value="${user.getUsername()}" readonly="readonly"
                                                       class="form-control">
                                            </div>

                                            <div class="col-md-6">
                                                <label>Текущий пароль</label>
                                                <input type="password" th:value="${user.getPassword()}"
                                                       readonly="readonly" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Имя</label>
                                                <input type="text" th:value="${user.getFirstName()}"
                                                       th:field="*{firstName}" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Фамилия</label>
                                                <input type="text" th:value="${user.getLastName()}"
                                                       th:field="*{lastName}" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Отчество</label>
                                                <input type="text" th:value="${user.getFatherName()}"
                                                       th:field="*{fatherName}" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                                <input type="text" readonly="readonly" th:value="${user.getEmail()}"
                                                       class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Telegram</label>
                                                <input type="text" th:value="${user.getTelegramUsername()}"
                                                       th:field="*{telegramUsername}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Новый пароль</label>
                                                <input th:field="*{password}"
                                                       type="password" placeholder="Введите новый пароль"
                                                       class="form-control">
                                            </div>

                                            <div class="col-md-6">
                                                <label>Повторите пароль</label>
                                                <input th:field="*{confirmPassword}"
                                                       type="password" placeholder="Повторите пароль"
                                                       class="form-control">
                                            </div>
                                            <div class="col-md-6">
<!--
                                                <label>Загрузить фото пользователя</label>
                                                <input type="file" class="form-input-styled" data-fouc>
                                                <span class="form-text text-muted">Принимаемые форматы: gif, png, jpg. Max file size 2Mb</span>
-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /profile info -->
                    </div>

                    <div class="tab-pane fade" id="inbox">

                        <!-- My inbox -->
                        <div class="card">
                            <div class="card-header bg-transparent header-elements-inline">
                                <h6 class="card-title">My inbox</h6>

                                <div class="header-elements">
                                    <span class="badge bg-blue">25 new today</span>
                                </div>
                            </div>

                            <!-- Action toolbar -->
                            <div class="navbar navbar-light bg-light navbar-expand-lg border-bottom-0 py-lg-2">
                                <div class="text-center d-lg-none w-100">
                                    <button type="button" class="navbar-toggler w-100" data-toggle="collapse"
                                            data-target="#inbox-toolbar-toggle-multiple">
                                        <i class="icon-circle-down2"></i>
                                    </button>
                                </div>

                                <div class="navbar-collapse text-center text-lg-left flex-wrap collapse"
                                     id="inbox-toolbar-toggle-multiple">
                                    <div class="mt-3 mt-lg-0">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-icon btn-checkbox-all">
                                                <input type="checkbox" class="form-input-styled" data-fouc>
                                            </button>

                                            <button type="button" class="btn btn-light btn-icon dropdown-toggle"
                                                    data-toggle="dropdown"></button>
                                            <div class="dropdown-menu">
                                                <a href="#" class="dropdown-item">Select all</a>
                                                <a href="#" class="dropdown-item">Select read</a>
                                                <a href="#" class="dropdown-item">Select unread</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">Clear selection</a>
                                            </div>
                                        </div>

                                        <div class="btn-group ml-3 mr-lg-3">
                                            <button type="button" class="btn btn-light"><i class="icon-pencil7"></i>
                                                <span class="d-none d-lg-inline-block ml-2">Compose</span></button>
                                            <button type="button" class="btn btn-light"><i class="icon-bin"></i> <span
                                                    class="d-none d-lg-inline-block ml-2">Delete</span></button>
                                            <button type="button" class="btn btn-light"><i class="icon-spam"></i> <span
                                                    class="d-none d-lg-inline-block ml-2">Spam</span></button>
                                        </div>
                                    </div>

                                    <div class="navbar-text ml-lg-auto"><span class="font-weight-semibold">1-50</span>
                                        of <span class="font-weight-semibold">528</span></div>

                                    <div class="ml-lg-3 mb-3 mb-lg-0">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-icon disabled"><i
                                                    class="icon-arrow-left12"></i></button>
                                            <button type="button" class="btn btn-light btn-icon"><i
                                                    class="icon-arrow-right13"></i></button>
                                        </div>

                                        <div class="btn-group ml-3">
                                            <button type="button" class="btn btn-light dropdown-toggle"
                                                    data-toggle="dropdown"><i class="icon-cog3"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Action</a>
                                                <a href="#" class="dropdown-item">Another action</a>
                                                <a href="#" class="dropdown-item">Something else here</a>
                                                <a href="#" class="dropdown-item">One more line</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /action toolbar -->


                        </div>
                        <!-- /my inbox -->

                    </div>

                </div>
                <!-- /right content -->

            </div>
            <!-- /inner container -->

        </div>
        <!-- /content area -->
        <!-- /content area -->


        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

</body>
</html>
