<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Исходящие</span> -
                        <span th:text="${action}">action</span></h4>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="d-flex justify-content-center">
                        <!--                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                        <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>-->
                        <th:block th:if="${outBoxEntity.getId()!=null}">
                            <a th:href="@{'/outbox/show/' + ${outBoxEntity.getId()}}" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Просмотр</span></a>
                        </th:block>
                        <a href="/outbox/" class="btn btn-link btn-float text-default"><i
                                class="icon-calendar5 text-primary"></i> <span>Список исходящих</span></a>
                    </div>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Рабочий стол</a>
                        <a href="/outbox/" class="breadcrumb-item">Список исходящих</a>
                        <span class="breadcrumb-item active" th:text="${action} + ' исходящего'">action</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">

                        <div class="breadcrumb-elements-item dropdown p-0"
                             sec:authorize="hasAnyRole('ROLE_OP_USER_HAS_CHANGE_HIS_SETTINGS')">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Настройки
                            </a>

          <!--                  <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                                <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                                <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">
            <div class="card">
                <div class="card-body">
                    <!--/*@thymesVar id="OutBoxEntity" type="java"*/-->
                    <form action="#"
                          th:action="@{/outbox/update/{id}(id=${id})}"
                          th:object="${outBoxEntity}"
                          method="post">


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Год:</label>
                                    <div>
                                        <select class="form-control select" th:field="*{year}" id="year" name="year">
                                            <option th:each="y : ${years}"
                                                    th:value="${y}"
                                                    th:utext="${y}">
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Дата исходящего:</label>
                                    <div>
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </span>
                                            <input type="text" class="form-control" required th:field="*{docDate}"
                                                   name="docDate"
                                                   id="dataAdoption"
                                                   placeholder="Выберите дату&hellip;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Номер исходящего:</label>
                                    <input type="text" name="title" class="form-control" th:field="*{number}"
                                           id="number">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Тип исходящего:</label>
                                    <input type="text" name="title" class="form-control" th:field="*{typeOfOutbox}"
                                           id="typeOfOutbox">
                                </div>
                                <div class="form-group">
                                    <label>Дата входящего:</label>
                                    <div>
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </span>
                                            <input type="text" class="form-control" required th:field="*{inboxDate}"
                                                   name="inboxDate"
                                                   id="deadlineD"
                                                   placeholder="Выберите дату&hellip;">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Номер входящего:</label>
                                    <input type="text" name="title" class="form-control" th:field="*{inboxNumber}"
                                           id="inboxNumber">
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Название:</label>
                            <input type="text" name="title" class="form-control" th:field="*{title}"
                                   id="title">
                        </div>
                        <div class="form-group">
                            <label>Содержание:</label>
                            <textarea rows="3" cols="3" class="form-control" th:field="*{content}"
                                      id="content"></textarea>
                        </div>

                        <div class="d-flex justify-content-end align-items-center">
                            <input type="button" class="btn btn-light" onclick="window.location.href = '/outbox';"
                                   value="Отмена"/>
                            <button type="submit" class="btn bg-blue ml-3" th:value="Save">Сохранить <i
                                    class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>

                </div>
            </div>

            <!-- /task overview -->


            <!-- Comments -->
            <!--  <div class="card">
                  <div class="card-header header-elements-inline">
                      <h5 class="card-title">Отчет выполнения</h5>
                  </div>

                  <div class="card-body">
                      <div class="mb-4">
                          <div class="media flex-column flex-md-row">
                              <div class="mr-md-3 mb-2 mb-md-0">
                                  <a href="#"><img th:src="@{/images/placeholders/placeholder.jpg}" class="rounded-circle" width="36" height="36" alt=""></a>
                              </div>

                              <div class="media-body">
                                  <div class="media-title">
                                      <a href="#" class="font-weight-semibold">William Jennings</a>
                                      <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">Just now</span>
                                  </div>

                                  <p>He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.</p>

                                  <ul class="list-inline font-size-sm mb-0">
                                      <li class="list-inline-item">114 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                                      <li class="list-inline-item"><a href="#">Отправить</a></li>
                                      <li class="list-inline-item"><a href="#">Редактировать</a></li>
                                  </ul>
                              </div>
                          </div>

                      </div>

                      <div class="mb-3">
                          <div id="add-comment">Get his declared appetite distance his together now families. Friends am himself at on norland it viewing. Suspected elsewhere you belonging continued commanded she...</div>
                      </div>

                      <div class="text-right">
                          <button type="button" class="btn bg-blue"><i class="icon-plus22 mr-1"></i> Отправить отчет</button>
                      </div>
                  </div>
              </div>-->
            <!-- /comments -->
            <!--        </div>-->


        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

</body>
</html>
