<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top sidebar-xs">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4> <span
                            class="font-weight-semibold">Список исходящих</span> -
                        <span th:text="${action}">action</span></h4>
                    <a href="/" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="d-flex justify-content-center">
                        <!--                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>-->
                        <a th:href="@{'/outbox/edit/' + ${outbox.getId()}}" class="btn btn-link btn-float text-default"><i
                                class="icon-calculator text-primary"></i> <span>Редактировать</span></a>
                        <a href="/outbox/" class="btn btn-link btn-float text-default"><i
                                class="icon-calendar5 text-primary"></i> <span>Список исходящих</span></a>
                    </div>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Рабочий стол</a>
                        <a href="/outbox/" class="breadcrumb-item">Список исходящих</a>
                        <span class="breadcrumb-item active" th:text="${action} + ' исходящего'">action</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">
            <!-- Inner container -->
            <div class="d-flex align-items-start flex-column flex-md-row">

                <!-- Left content -->
                <div class="w-100 overflow-auto order-2 order-md-1">

                    <!-- Course overview -->
                    <div class="card">
                        <div class="card-header header-elements-md-inline">
                            <h5 class="card-title" th:text="${outbox.getTitle()}"></h5>
              <!--              <div class="header-elements">
                                <button type="button" class="btn btn-light btn-sm"><i class="icon-file-check mr-2"></i>
                                    В PDF
                                </button>
                                <button type="button" class="btn btn-light btn-sm ml-3"><i
                                        class="icon-printer mr-2"></i> На печать
                                </button>
                            </div>-->
                        </div>

                        <div class="nav-tabs-responsive bg-light border-top">
                            <ul class="nav nav-tabs nav-tabs-bottom flex-nowrap mb-0">
                                <li class="nav-item"><a href="#course-overview" class="nav-link active"
                                                        data-toggle="tab"><i class="icon-menu7 mr-2"></i> Документ</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="course-overview">
                                <div class="card-body">
                                    <div class="mt-1 mb-4">
                                        <h6 th:utext="${outbox.getTypeOfOutbox()} + '  № ' + ${outbox.getNumber()}"></h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-1 mb-4">
                                        <h6 class="font-weight-semibold">Содержание</h6>
                                        <p th:text="${outbox.content}"></p>
                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>
                    <!-- /course overview -->


                </div>
                <!-- /left content -->


                <!-- Right sidebar component -->
                <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

                    <!-- Sidebar content -->
                    <div class="sidebar-content">

                        <!-- Course details -->
                        <div class="card">
                            <div class="card-header bg-transparent header-elements-inline">
                                <span class="text-uppercase font-size-sm font-weight-semibold">Мета информация</span>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-borderless table-xs border-top-0 my-2">
                                <tbody>
                                <!--                   <tr>
                                                       <td class="font-weight-semibold">Status:</td>
                                                       <td class="text-right">
                                                           <span class="badge bg-primary">Registration</span>
                                                       </td>
                                                   </tr>-->
                                <tr>
                                    <td class="font-weight-semibold">Год:</td>
                                    <td class="text-right" th:text="${outbox.getYear()}">2019</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-semibold">Дата создания:</td>
                                    <td class="text-right" th:text="${createdAt}"></td>
                                </tr>
                                <tr>
                                    <td class="font-weight-semibold">Дата обновления:</td>
                                    <td class="text-right" th:text="${updatedAt}"></td>
                                </tr>
                                <tr>
                                    <td class="font-weight-semibold">Создал:</td>
                                    <td class="text-right"
                                        th:text="${outbox.getUserCreatedId().getLastName()} +' '+ ${outbox.getUserCreatedId().getFirstName()}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-semibold">Обновил:</td>
                                    <th:block th:if="${outbox.getUserUpdatedId()!= null}">
                                        <td class="text-right"
                                            th:text="${outbox.getUserUpdatedId().getLastName()} +' '+ ${outbox.getUserUpdatedId().getFirstName()}"></td>
                                    </th:block>
                                    <th:block th:if="${outbox.getUserUpdatedId()== null}">
                                        <td></td>
                                    </th:block>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /course details -->

                    </div>
                    <!-- /sidebar content -->

                </div>
                <!-- /right sidebar component -->

            </div>
            <!-- /inner container -->

        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
<script th:inline="javascript">
    $(document).ready(function () {

      //  $('.select-author').select2({});
       // $('.select-type').select2({});
    });
</script>
</body>
</html>
