<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4> <span
                            class="font-weight-semibold">Список внутренних</span> -
                        <span th:text="${action}">action</span></h4>
                    <a href="/" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="d-flex justify-content-center">
                        <!--                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>-->
                        <a th:href="@{'/inner/show/' + ${innerbox.getId()}}"
                           class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i>
                            <span>Просмотр</span></a>
                        <a href="/inner/" class="btn btn-link btn-float text-default"><i
                                class="icon-calendar5 text-primary"></i> <span>Список внутренних</span></a>
                    </div>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Рабочий стол</a>
                        <a href="/inner/" class="breadcrumb-item">Список внутренних</a>
                        <span class="breadcrumb-item active" th:text="${action} + ' внутреннего'">action</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"></h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <form action="#"
                          th:action="@{/inner/store/{id}(id=${id})}"
                          th:object="${innerbox}"
                          method="post"
                          class="form-validate-jquery">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Год:</label>
                                    <div>
                                        <select class="form-control select" required th:field="*{year}">
                                            <option th:each="y : ${years}"
                                                    th:value="${y}"
                                                    th:utext="${y}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Дата:</label>
                                    <div>
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </span>
                                            <input type="text" class="form-control" required th:field="*{dataAdoption}"
                                                   name="dataAdoption"
                                                   id="dataAdoption"
                                                   placeholder="Выберите дату&hellip;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Номер:</label>
                                    <div>
                                        <input type="text" disabled class="form-control" name="number"
                                               th:field="*{number}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Тип:</label>
                                    <div>
                                        <select class="form-control select-type" required disabled name="tip"
                                                th:field="*{typeDocId}" data-fouc>
                                            <option th:each="t : ${allTypes}"
                                                    th:value="${t.getId()}"
                                                    th:utext="${t.getDisplayName()}">
                                                <!--  th:selected="Выберите тип"-->
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Автор:</label>
                                    <select class="form-control select-author" required th:field="*{authorId}"
                                            data-fouc>
                                        <option th:each="u : ${allUsers}"
                                                th:value="${u.getId()}"
                                                th:utext="${u.getFatherName()} + ' ' +${u.getFirstName()}">
                                            <!--th:selected="Выберите автора"-->
                                        </option>
                                    </select>
                                </div>
                                <!--                <div class="form-group">
                                                    <label>Файл:</label>
                                                    <div>
                                                        <input type="file" name="file" class="file-styled">
                                                        <span class="help-block">Допустимые форматы: png, jpg, doc, docx, pdf, rar, zip. Максимальный размер файла 50Mb</span>
                                                    </div>
                                                </div>-->
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Исполнитель:</label>
                                    <select class="form-control select-multiple-limited" th:disabled="${disabled}" multiple="multiple"
                                            id="executor" name="executor" data-fouc>
                                        <th:block th:if="${innerbox.tasksInner.isEmpty()}">
                                            <option th:each="u : ${allUsers}"
                                                    th:value="${u.getId()}"
                                                    th:utext="${u.getFatherName()} + ' ' +${u.getFirstName()}">
                                                <!--th:selected="Выберите автора"-->
                                            </option>
                                        </th:block>
                                        <th:block th:unless="${innerbox.tasksInner.isEmpty()}">
                                            <th:block th:each="u : ${usersIn}">
                                                <option selected th:value="${u.getId()}"
                                                        th:utext="${u.getFatherName()} + ' ' +${u.getFirstName()}"></option>
                                            </th:block>
                                            <th:block th:each="u : ${usersNotIn}">
                                                <option th:value="${u.getId()}"
                                                        th:utext="${u.getFatherName()} + ' ' +${u.getFirstName()}"></option>
                                            </th:block>
                                        </th:block>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Тема:</label>
                                    <div>
                                        <input type="text" class="form-control" required name="title"
                                               th:field="*{title}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Содержание:</label>
                                    <div>
                                        <textarea rows="5" cols="5" name="content" th:field="*{content}"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Дата контроля:</label>
                                    <div>
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </span>
                                            <input type="text" class="form-control" name="deadline"
                                                   th:field="*{deadLine}" id="deadlineD"
                                                   placeholder="Выберите дату&hellip;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <input type="button" class="btn btn-light" onclick="window.location.href = '/inner';"
                                   value="Отмена"/>
                            <button type="submit" class="btn bg-blue ml-3" th:value="Save">Сохранить <i
                                    class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- /task overview -->

        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
<script th:inline="javascript">
    $(document).ready(function () {

        $('.select-author').select2({});
        $('.select-multiple-limited').select2({
            maximumSelectionLength: 1
        });
        $('.select-type').select2({});
    });
</script>
</body>
</html>
