<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body>

<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand">
        <a href="#" class="d-inline-block">
            <img th:src="@{/images/logo_light.png}" alt="">
        </a>
    </div>
</div>
<!-- /main navbar -->

<!-- Page content -->
<div class="page-content">


    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Container -->
            <div class="flex-fill">

                <!-- Error title -->
                <div class="text-center mb-3">
                    <h1 class="error-title">403</h1>
                    <h5 th:text="${errorMessage != null} ? ${errorMessage} : 'Доступ запрещен.'"></h5>
                </div>
                <!-- /error title -->


                <!-- Error content -->
                <div class="row">
                    <div class="col-xl-4 offset-xl-4 col-md-8 offset-md-2">


                        <!-- Buttons -->
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javascript:history.go(-1)" class="btn btn-primary btn-block"><i class="icon-home4 mr-2"></i>Назад</a>
                            </div>

                        </div>
                        <!-- /buttons -->

                    </div>
                </div>
                <!-- /error wrapper -->

            </div>
            <!-- /container -->

        </div>
        <!-- /content area -->

        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

</body>
</html>
