<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><span class="font-weight-semibold">Входящие</span> -
                        <span th:text="${action}">action</span></h4>
                    <a href="/" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="d-flex justify-content-center">
                        <!--                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                        <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>-->
                        <th:block th:if="${id}!=null">
                        <a th:href="@{'/inbox/show/' + ${incomingBoxEntity.getId()}}"
                           class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i>
                            <span>Просмотр</span></a>
                        </th:block>
                        <a href="/inbox" class="btn btn-link btn-float text-default"><i
                                class="icon-calendar5 text-primary"></i> <span>Список входящих</span></a>
                    </div>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Рабочий стол</a>
                        <a href="/inbox" class="breadcrumb-item">Список входящих</a>
                        <span class="breadcrumb-item active" th:text="${action} + ' входящего'">action</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">

                        <div class="breadcrumb-elements-item dropdown p-0"
                             sec:authorize="hasAnyRole('ROLE_OP_USER_HAS_CHANGE_HIS_SETTINGS')">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Настройки
                            </a>

                            <!--              <div class="dropdown-menu dropdown-menu-right">
                                              <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                                              <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                                              <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                                              <div class="dropdown-divider"></div>
                                              <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                                          </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">
            <div class="card">
                <div class="card-body">
                    <form action="#"
                          th:action="@{/inbox/update/{id}(id=${id})}"
                          th:object="${incomingBoxEntity}"
                          method="post"
                          class="form-validate-jquery">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Год:</label>
                                    <div>
                                        <select class="form-control select" required th:field="*{year}">
                                            <option th:each="y : ${years}"
                                                    th:value="${y}"
                                                    th:utext="${y}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Дата входящего:</label>
                                    <div>
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </span>
                                            <input type="text" class="form-control" required th:field="*{docDate}"
                                                   name="dataAdoption"
                                                   id="dataAdoption"
                                                   placeholder="Выберите дату&hellip;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Номер входящего:</label>
                                    <div>
                                        <input type="text" disabled class="form-control" name="number" placeholder="автоматически"
                                               th:field="*{number}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Тип:</label>
                                    <div>
                                        <select class="form-control select-type" required name="tip"
                                                th:field="*{typeDocId}" data-fouc>
                                            <option th:each="t : ${allTypes}"
                                                    th:value="${t.getId()}"
                                                    th:utext="${t.getDisplayName()}">
                                                <!--  th:selected="Выберите тип"-->
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Тема:</label>
                                    <div>
                                        <input type="text" class="form-control" required name="title"
                                               th:field="*{title}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Дата контроля:</label>
                                    <div>
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </span>
                                            <input type="text" class="form-control" name="deadline"
                                                   th:field="*{deadLine}" id="deadlineD"
                                                   placeholder="Выберите дату&hellip;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Исполнитель:</label>
                                    <select class="form-control select-multiple-limited"  th:disabled="${disabled}" multiple="multiple"
                                            id="executor" name="executor" data-fouc>
                                        <th:block th:if="${id==null}">
                                            <option th:each="u : ${allUsers}"
                                                    th:value="${u.getId()}"
                                                    th:utext="${u.getFatherName()} + ' ' +${u.getFirstName()}">
                                                <!--th:selected="Выберите автора"-->
                                            </option>
                                        </th:block>
                                        <th:block th:unless="${id==null}">
                                            <th:block th:if="${incomingBoxEntity.taskIncoming.isEmpty()}">

                                            </th:block>
                                            <th:block th:unless="${incomingBoxEntity.taskIncoming.isEmpty()}">
                                                <th:block th:each="u : ${usersIn}">
                                                    <option selected th:value="${u.getId()}"
                                                            th:utext="${u.getFatherName()} + ' ' +${u.getFirstName()}"></option>
                                                </th:block>
                                                <th:block th:each="u : ${usersNotIn}">
                                                    <option th:value="${u.getId()}"
                                                            th:utext="${u.getFatherName()} + ' ' +${u.getFirstName()}"></option>
                                                </th:block>
                                            </th:block>
                                        </th:block>


                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Дата исходящего:</label>
                                    <div>
                                        <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </span>
                                            <input type="text" class="form-control" required th:field="*{outDate}"
                                                   name="dataAdoption"
                                                   id="outDate"
                                                   placeholder="Выберите дату&hellip;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Номер исходящего:</label>
                                    <div>
                                        <input type="text" required class="form-control" name="outNumb"
                                               th:field="*{outNumb}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Содержание:</label>
                                    <div>
                                        <textarea rows="5" cols="5" name="content" th:field="*{content}"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <input type="button" class="btn btn-light" onclick="window.location.href = '/inbox';"
                                   value="Отмена"/>
                            <button type="submit" class="btn bg-blue ml-3" th:value="Save">Сохранить <i
                                    class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- /task overview -->


            <!-- Comments -->
            <!--  <div class="card">
                  <div class="card-header header-elements-inline">
                      <h5 class="card-title">Отчет выполнения</h5>
                  </div>

                  <div class="card-body">
                      <div class="mb-4">
                          <div class="media flex-column flex-md-row">
                              <div class="mr-md-3 mb-2 mb-md-0">
                                  <a href="#"><img th:src="@{/images/placeholders/placeholder.jpg}" class="rounded-circle" width="36" height="36" alt=""></a>
                              </div>

                              <div class="media-body">
                                  <div class="media-title">
                                      <a href="#" class="font-weight-semibold">William Jennings</a>
                                      <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">Just now</span>
                                  </div>

                                  <p>He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.</p>

                                  <ul class="list-inline font-size-sm mb-0">
                                      <li class="list-inline-item">114 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                                      <li class="list-inline-item"><a href="#">Отправить</a></li>
                                      <li class="list-inline-item"><a href="#">Редактировать</a></li>
                                  </ul>
                              </div>
                          </div>

                      </div>

                      <div class="mb-3">
                          <div id="add-comment">Get his declared appetite distance his together now families. Friends am himself at on norland it viewing. Suspected elsewhere you belonging continued commanded she...</div>
                      </div>

                      <div class="text-right">
                          <button type="button" class="btn bg-blue"><i class="icon-plus22 mr-1"></i> Отправить отчет</button>
                      </div>
                  </div>
              </div>-->
            <!-- /comments -->
            <!--        </div>-->


        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
<script th:inline="javascript">
    $(document).ready(function () {

        $('.select-author').select2({});
        $('.select-multiple-limited').select2({
            maximumSelectionLength: 1
        });
        $('.select-type').select2({});
    });
</script>
</body>
</html>
