<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top sidebar-xs">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><span
                            class="font-weight-semibold">Список входящих</span> -
                        <span th:text="${action}">action</span></h4>
                    <a href="/" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="d-flex justify-content-center">
                        <!--                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>-->
                        <a th:href="@{'/inbox/edit/' + ${incomingBox.getId()}}" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Редактировать</span></a>
                        <a href="/inbox/" class="btn btn-link btn-float text-default"><i
                                class="icon-calendar5 text-primary"></i> <span>Список входящих</span></a>
                    </div>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Рабочий стол</a>
                        <a href="/inbox/" class="breadcrumb-item">Список входящих</a>
                        <span class="breadcrumb-item active" th:text="${action} + ' входящего'">action</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">
            <!-- inbox container -->
            <div class="d-flex align-items-start flex-column flex-md-row">

                <!-- Left content -->
                <div class="w-100 overflow-auto order-2 order-md-1">

                    <!-- Course overview -->
                    <div class="card">
                        <div class="card-header header-elements-md-inline">
                            <h5 class="card-title" th:text="${incomingBox.getTitle()}"></h5>
                          <!--  <div class="header-elements">
                                <button type="button" class="btn btn-light btn-sm"><i class="icon-file-check mr-2"></i> В PDF</button>
                                <button type="button" class="btn btn-light btn-sm ml-3"><i class="icon-printer mr-2"></i> Напечать</button>
                            </div>-->
                        </div>

                        <div class="nav-tabs-responsive bg-light border-top">
                            <ul class="nav nav-tabs nav-tabs-bottom flex-nowrap mb-0">
                                <li class="nav-item"><a href="#course-overview" class="nav-link active"
                                                        data-toggle="tab"><i class="icon-menu7 mr-2"></i> Документ</a>
                                </li>
                                <th:block th:if="${incomingBox.getTaskIncoming().size()>0}">
                                <li class="nav-item"><a href="#course-schedule" class="nav-link" data-toggle="tab"><i
                                        class="icon-calendar3 mr-2"></i> Задачи</a></li>
                                </th:block>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="course-overview">
                                <div class="card-body">
                                    <div class="mt-1 mb-4">
                                        <h6 th:utext="${incomingBox.getTypeDocId().getDisplayName()} + '  № ' + ${incomingBox.getNumber()} + ' от ' + ${incomingBox.getDocDate()}"></h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mt-1 mb-4">
                                        <h6 class="font-weight-semibold">Содержание</h6>
                                        <p th:text="${incomingBox.getContent()}"></p>
                                    </div>

                                </div>
                        <!--        <div class="card-body border-top">
                                    <h6 class="mb-0">2 Приложения</h6>

                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <div class="card bg-light py-2 px-3 mt-3 mb-0">
                                                <div class="media my-1">
                                                    <div class="mr-3 align-self-center"><i class="icon-file-pdf icon-2x text-danger-400 top-0"></i></div>
                                                    <div class="media-body">
                                                        <div class="font-weight-semibold">new_december_offers.pdf</div>

                                                        <ul class="list-inline list-inline-condensed mb-0">
                                                            <li class="list-inline-item text-muted">174 KB</li>
                                                            <li class="list-inline-item"><a href="#">Посмотреть</a></li>
                                                            <li class="list-inline-item"><a href="#">Загрузить</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="card bg-light py-2 px-3 mt-3 mb-0">
                                                <div class="media my-1">
                                                    <div class="mr-3 align-self-center"><i class="icon-file-pdf icon-2x text-danger-400 top-0"></i></div>
                                                    <div class="media-body">
                                                        <div class="font-weight-semibold">assignment_letter.pdf</div>

                                                        <ul class="list-inline list-inline-condensed mb-0">
                                                            <li class="list-inline-item text-muted">736 KB</li>
                                                            <li class="list-inline-item"><a href="#">Посмотреть</a></li>
                                                            <li class="list-inline-item"><a href="#">Загрузить</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>-->

                            </div>
                            <th:block th:if="${incomingBox.getTaskIncoming().size()>0}">
                            <div class="tab-pane fade" id="course-schedule">
                                <div class="card-body">
                                    <div class="schedule">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Наименование</th>
                                                    <th>Описание</th>
                                                    <!-- <th>Осталось</th>-->
                                                    <th>Статус</th>
                                                    <th>Дата контроля</th>
                                                    <th>Действие</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <th:block th:each="t : ${incomingBox.getTaskIncoming()}">
                                                    <tr>
                                                        <td th:utext="${t.getId()}"></td>
                                                        <td><a th:href="@{'/tasks/show/' + ${t.getId()}}"
                                                               th:utext="${t.getTitle()}"></a></td>
                                                        <td th:utext="${t.getDescription()}"></td>
                                                        <!--<td>10 hours</td>-->
                                                        <td id="status"><span class="badge bg-secondary"
                                                                              th:text="${t.getTaskStatus().getDisplayName()}"></span>
                                                        </td>
                                                        <td th:utext="${t.getDeadLine()}"></td>
                                                        <th:block
                                                                th:if="${t.getTaskStatus().getName() == 'ST_DRAFT'}">
                                                            <td>
                                                                <button type="button" id="sendTask"
                                                                        th:data-id="${t.getId()}"
                                                                        class="btn btn-primary btn-sm">Отправить
                                                                </button>
                                                            </td>
                                                        </th:block>
                                                        <th:block
                                                                th:if="${t.getTaskStatus().getName() != 'ST_DRAFT'}">
                                                            <td>
                                                                <button type="button" disabled
                                                                        class="btn btn-primary btn-sm">Поставлена
                                                                </button>
                                                            </td>
                                                        </th:block>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </th:block>
                        </div>
                    </div>
                    <!-- /course overview -->


                </div>
                <!-- /left content -->


                <!-- Right sidebar component -->
                <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

                    <!-- Sidebar content -->
                    <div class="sidebar-content">

                        <!-- Course details -->
                        <div class="card">
                            <div class="card-header bg-transparent header-elements-inline">
                                <span class="text-uppercase font-size-sm font-weight-semibold">Мета информация</span>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-borderless table-xs border-top-0 my-2">
                                <tbody>
                                <!--                   <tr>
                                                       <td class="font-weight-semibold">Status:</td>
                                                       <td class="text-right">
                                                           <span class="badge bg-primary">Registration</span>
                                                       </td>
                                                   </tr>-->
                                <tr>
                                    <td class="font-weight-semibold">Год:</td>
                                    <td class="text-right"th:text="${incomingBox.getYear()}"></td>
                                </tr>
                                <tr>
                                    <td class="font-weight-semibold">Дата создания:</td>
                                    <td class="text-right"th:text="${createdAt}"></td>
                                </tr>
                                <!--                                <tr>-->
                                <!--                                    <td class="font-weight-semibold">Дата обновления:</td>-->
                                <!--                                    <td class="text-right" th:="${updatedAt}"></td>-->
                                <!--                                </tr>-->
                                <tr>
                                    <td class="font-weight-semibold">Создал:</td>
                                    <td class="text-right" th:text="${incomingBox.getUserCreated().getLastName()} +' '+ ${incomingBox.getUserCreated().getFirstName()}"></td>
                                </tr>
                                <!--                                <tr>-->
                                <!--                                    <td class="font-weight-semibold">Испольнитель:</td>-->
                                <!--                                    <td class="text-right"><a href="#" th:text="${innerbox.getUserExecutorId().getLastName()} +' '+ ${innerbox.getUserExecutorId().getFirstName()}"></a></td>-->
                                <!--                                </tr>-->
                                <tr>
                                    <td class="font-weight-semibold">Дата контроля:</td>
                                    <td class="text-right" th:text="${incomingBox.getDeadLine()}"></td>
                                </tr>
                                <tr>
                                    <td class="font-weight-semibold">Создал:</td>
                                    <td class="text-right"
                                        th:text="${incomingBox.getUserCreated().getLastName()} +' '+ ${incomingBox.getUserCreated().getFirstName()}"></td>
                                </tr>
                                <tr>
                                    <td class="font-weight-semibold">Обновил:</td>
                                    <th:block th:if="${incomingBox.getUserUpdated()!= null}">
                                        <td class="text-right"
                                            th:text="${incomingBox.getUserUpdated().getLastName()} +' '+ ${incomingBox.getUserUpdated().getFirstName()}"></td>
                                    </th:block>
                                    <th:block th:if="${incomingBox.getUserUpdated()== null}">
                                        <td></td>
                                    </th:block>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /course details -->


                        <!-- Categories -->
                        <!--       <div class="card">
                                   <div class="card-header bg-transparent header-elements-inline">
                                       <span class="text-uppercase font-size-sm font-weight-semibold">Categories</span>
                                       <div class="header-elements">
                                           <div class="list-icons">
                                               <a class="list-icons-item" data-action="collapse"></a>
                                           </div>
                                       </div>
                                   </div>

                                   <div class="card-body p-0">
                                       <div class="nav nav-sidebar mb-2">
                                           <li class="nav-item-header font-size-xs text-uppercase">Development</li>
                                           <li class="nav-item">
                                               <a href="#" class="nav-link">
                                                   Frontend development
                                                   <span class="badge badge-secondary badge-pill ml-auto">37</span>
                                               </a>
                                           </li>
                                           <li class="nav-item">
                                               <a href="#" class="nav-link">
                                                   Backend development
                                                   <span class="badge badge-secondary badge-pill ml-auto">58</span>
                                               </a>
                                           </li>
                                           <li class="nav-item">
                                               <a href="#" class="nav-link">
                                                   Engineering
                                                   <span class="badge badge-secondary badge-pill ml-auto">39</span>
                                               </a>
                                           </li>

                                           <li class="nav-item-header font-size-xs text-uppercase">Design</li>
                                           <li class="nav-item">
                                               <a href="#" class="nav-link">
                                                   Interface design
                                                   <span class="badge badge-secondary badge-pill ml-auto">21</span>
                                               </a>
                                           </li>
                                           <li class="nav-item">
                                               <a href="#" class="nav-link">
                                                   User experience
                                                   <span class="badge badge-secondary badge-pill ml-auto">10</span>
                                               </a>
                                           </li>
                                           <li class="nav-item">
                                               <a href="#" class="nav-link">
                                                   Web design
                                                   <span class="badge badge-secondary badge-pill ml-auto">26</span>
                                               </a>
                                           </li>
                                       </div>
                                   </div>
                               </div>-->
                        <!-- /categories -->

                        <!-- Upcoming courses -->
<!--                        <div class="card">-->
<!--                            <div class="card-header bg-transparent header-elements-inline">-->
<!--                                <span class="text-uppercase font-size-sm font-weight-semibold">Важные задачи </span>-->
<!--                                <div class="header-elements">-->
<!--                                    <div class="list-icons">-->
<!--                                        <a class="list-icons-item" data-action="collapse"></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="card-body">-->
<!--                                <ul class="media-list">-->
<!--                                    <li class="media">-->
<!--                                        <div class="mr-3">-->
<!--                                            <h5 class="text-center text-success mb-0">02</h5>-->
<!--                                            <div class="font-size-sm text-muted line-height-1">Nov</div>-->
<!--                                        </div>-->

<!--                                        <div class="media-body">-->
<!--                                            <span class="font-weight-semibold">Web development strategy</span> course by-->
<!--                                            <a href="#">James Franko</a>-->
<!--                                            <ul class="list-inline list-inline-dotted mt-1 mb-0">-->
<!--                                                <li class="list-inline-item"><span class="text-muted">120 hours</span>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </li>-->

<!--                                    <li class="media">-->
<!--                                        <div class="mr-3">-->
<!--                                            <h5 class="text-center text-success mb-0">15</h5>-->
<!--                                            <div class="font-size-sm text-muted line-height-1">Nov</div>-->
<!--                                        </div>-->

<!--                                        <div class="media-body">-->
<!--                                            <span class="font-weight-semibold">Business development</span> course by <a-->
<!--                                                href="#">Jeremy Victorino</a>-->
<!--                                            <ul class="list-inline list-inline-dotted mt-1 mb-0">-->
<!--                                                <li class="list-inline-item"><span class="text-muted">40 hours</span>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </li>-->

<!--                                    <li class="media">-->
<!--                                        <div class="mr-3">-->
<!--                                            <h5 class="text-center text-success mb-0">01</h5>-->
<!--                                            <div class="font-size-sm text-muted line-height-1">Dec</div>-->
<!--                                        </div>-->

<!--                                        <div class="media-body">-->
<!--                                            <span class="font-weight-semibold">Digital marketing</span> course by <a-->
<!--                                                href="#">Monica Smith</a>-->
<!--                                            <ul class="list-inline list-inline-dotted mt-1 mb-0">-->
<!--                                                <li class="list-inline-item"><span class="text-muted">100 hours</span>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </li>-->

<!--                                    <li class="media">-->
<!--                                        <div class="mr-3">-->
<!--                                            <h5 class="text-center text-success mb-0">15</h5>-->
<!--                                            <div class="font-size-sm text-muted line-height-1">Dec</div>-->
<!--                                        </div>-->

<!--                                        <div class="media-body">-->
<!--                                            <span class="font-weight-semibold">User experience design</span> course by-->
<!--                                            <a href="#">Buzz Brenson</a>-->
<!--                                            <ul class="list-inline list-inline-dotted mt-1 mb-0">-->
<!--                                                <li class="list-inline-item"><span class="text-muted">90 hours</span>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </li>-->

<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- /upcoming courses -->

                    </div>
                    <!-- /sidebar content -->

                </div>
                <!-- /right sidebar component -->

            </div>
            <!-- /inbox container -->

        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
<script th:inline="javascript">
    $(document).ready(function () {

        $('.select-author').select2({});

        $('.select-type').select2({});
        $(document).on('click', '#sendTask', function () {
            var id = $(this).data('id');
            var buttonDis =$(this).prop("disabled",true);
            var buttonTxt =  $(this).text("Поставлена");

            function tt1() {
                $(this).prop("disabled",true);
                $(this).text("Поставлена");
                $("#status").html('<span class="badge bg-secondary">Назначена</span>');
            }

            $.ajax({
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                url: '/ajax/sendTaskToUser',
                data: JSON.stringify(id),
                error: function (result) {
                    if(result.status==200){
                        tt1()
                        new PNotify({
                            title: 'Успешно.',
                            text: result.responseText,
                            addclass: 'bg-success'
                        });
                    } else {
                        new PNotify({
                            title: 'Ошибка',
                            text: 'Не удалось отправить',
                            addclass: 'bg-danger'
                        });
                    }


                }
            });
        });
    });
</script>

</body>
</html>
