<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.w3.org/1999/html">

<div th:replace="~{/fragments/header.html :: header}"></div>

<body class="navbar-top">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4>Рабочий стол</h4>
                    <a href="/" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

<!--                <div class="header-elements d-none">-->
<!--                    <div class="d-flex justify-content-center">-->
<!--                        <a href="#" class="btn btn-link btn-float text-default"><i-->
<!--                                class="icon-bars-alt text-primary"></i><span>Statistics</span></a>-->
<!--                        <a href="#" class="btn btn-link btn-float text-default"><i-->
<!--                                class="icon-calculator text-primary"></i> <span>Invoices</span></a>-->
<!--                        <a href="#" class="btn btn-link btn-float text-default"><i-->
<!--                                class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item active"> Рабочий стол</a>
                    </div>
                </div>

                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">
                        <div class="breadcrumb-elements-item dropdown p-0" sec:authorize="hasAnyRole('ROLE_OP_USER_HAS_CHANGE_HIS_SETTINGS')">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Настройки
                            </a>
    <!--                        <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                                <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                                <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->



        <!-- Content area -->
        <div class="content">
<!--            <div class="mb-3">
                <h6 class="mb-0 font-weight-semibold">
                    Статистика
                </h6>
            </div>-->

            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <i class="icon-file-plus icon-3x text-success-400"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0" th:text="${inWorkTasksCount}">

                                </h3>
                                <span class="text-uppercase font-size-sm text-muted">Принятые</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <i class="icon-file-download icon-3x text-indigo-400"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0" th:text="${rejectedTasksCount}"></h3>
                                <span class="text-uppercase font-size-sm text-muted">Отклоненные</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card card-body">
                        <div class="media">
                            <div class="ml-3 align-self-center">
                                <i class="icon-file-empty icon-3x text-warning-400"></i>
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0" th:text="${inWorkTasksCount}"></h3>
                                <span class="text-uppercase font-size-sm text-muted">В работе</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <i class="icon-file-check icon-3x text-blue-400"></i>
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0" th:text="${doneTasksCount}"></h3>
                                <span class="text-uppercase font-size-sm text-muted">Завершено</span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xl-6">

                    <!-- Pie with progress -->
                    <div class="card card-body text-center">
                        <h6 class="font-weight-semibold mb-0 mt-1">Статистика по задачам</h6>
                        <div class="font-size-sm text-muted mb-3">На 20 декабря 2019г.</div>

                        <div class="svg-center" id="pie_stats_tasks"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-6">

                    <!-- Pie with progress -->
                    <div class="card card-body text-center">
                        <h6 class="font-weight-semibold mb-0 mt-1">Статистика по канцелярии</h6>
                        <div class="font-size-sm text-muted mb-3">На 20 декабря 2019г.</div>

                        <div class="svg-center" style="margin-bottom: 37px;" id="pie_stats_docs"></div>
                    </div>
                </div>
            </div>
                    <!-- /pie with progress -->
<!--            <div class="card">
				<div class="card-header header-elements-inline">
					<h6 class="card-title">Какой-то текст</h6>
					<div class="header-elements">
						<div class="form-check form-check-right form-check-switchery form-check-switchery-sm">

						</div>
					</div>
				</div>
			</div>-->
        </div>
        <!-- /content area -->

        <!-- Footer -->
        <div th:replace="~{/fragments/footer :: footer}"></div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
<script th:inline="javascript">

        var StatisticWidgets = function() {
        // Pie with tasks
        var _pieWithTasks = function(element, size) {
            if (typeof d3 == 'undefined') {
                console.warn('Warning - d3.min.js is not loaded.');
                return;
            }

            // Initialize chart only if element exsists in the DOM
            if(element) {

                var assignedTasksCount = /*[[${assignedTasksCount}]]*/ 30;
                var rejectedTasksCount = /*[[${rejectedTasksCount}]]*/ 25;
                var inWorkTasksCount = /*[[${inWorkTasksCount}]]*/ 10;
                var doneTasksCount = /*[[${doneTasksCount}]]*/ 11;
                // Demo dataset
                var dataset = [
                    { name: 'Принятые', count: assignedTasksCount },
                    { name: 'В работе', count: inWorkTasksCount },
                    { name: 'Завершено', count: doneTasksCount },
                    { name: 'Отклонено', count: rejectedTasksCount }
                ];

                // Main variables
                var d3Container = d3.select(element),
                    total = 0,
                    width = size,
                    height = size,
                    progressSpacing = 6,
                    progressSize = (progressSpacing + 2),
                    arcSize = 20,
                    outerRadius = (width / 2),
                    innerRadius = (outerRadius - arcSize);

                // Colors
                var color = d3.scale.ordinal()
                    .range(['#66bb6a', '#5c6bc0', '#29b6f6', '#ff7043']);


                // Create chart
                // ------------------------------

                // Add svg element
                var container = d3Container.append("svg");

                // Add SVG group
                var svg = container
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


                // Construct chart layout
                // ------------------------------

                // Add dataset
                dataset.forEach(function(d){
                    total+= d.count;
                });

                // Pie layout
                var pie = d3.layout.pie()
                    .value(function(d){ return d.count; })
                    .sort(null);

                // Inner arc
                var arc = d3.svg.arc()
                    .innerRadius(innerRadius)
                    .outerRadius(outerRadius);

                // Line arc
                var arcLine = d3.svg.arc()
                    .innerRadius(innerRadius - progressSize)
                    .outerRadius(innerRadius - progressSpacing)
                    .startAngle(0);


                // Append chart elements
                // ------------------------------

                //
                // Animations
                //
                var arcTween = function(transition, newAngle) {
                    transition.attrTween("d", function (d) {
                        var interpolate = d3.interpolate(d.endAngle, newAngle);
                        var interpolateCount = d3.interpolate(0, dataset[0].count);
                        return function (t) {
                            d.endAngle = interpolate(t);
                            middleCount.text(d3.format(",d")(Math.floor(interpolateCount(t))));
                            return arcLine(d);
                        };
                    });
                };


                //
                // Donut paths
                //

                // Donut
                var path = svg.selectAll('path')
                    .data(pie(dataset))
                    .enter()
                    .append('path')
                    .attr('class', 'd3-slice-border')
                    .attr('d', arc)
                    .attr('fill', function(d, i) {
                        return color(d.data.name);
                    })
                    .style({
                        'cursor': 'pointer'
                    });

                // Animate donut
                path
                    .transition()
                    .delay(function(d, i) { return i; })
                    .duration(600)
                    .attrTween("d", function(d) {
                        var interpolate = d3.interpolate(d.startAngle, d.endAngle);
                        return function(t) {
                            d.endAngle = interpolate(t);
                            return arc(d);
                        };
                    });


                //
                // Line path
                //

                // Line
                var pathLine = svg.append('path')
                    .datum({endAngle: 0})
                    .attr('d', arcLine)
                    .style({
                        fill: color('New')
                    });

                // Line animation
                pathLine.transition()
                    .duration(600)
                    .delay(300)
                    .call(arcTween, (2 * Math.PI) * (dataset[0].count / total));


                //
                // Add count text
                //

                var middleCount = svg.append('text')
                    .datum(0)
                    .attr({
                        'class': 'd3-text',
                        'dy': 6
                    })
                    .style({
                        'font-size': '21px',
                        'font-weight': 500,
                        'text-anchor': 'middle'
                    })
                    .text(function(d){
                        return d;
                    });


                //
                // Add interactions
                //

                // Mouse
                path
                    .on('mouseover', function(d, i) {
                        $(element + ' [data-slice]').css({
                            'opacity': 0.3,
                            'transition': 'all ease-in-out 0.15s'
                        });
                        $(element + ' [data-slice=' + i + ']').css({'opacity': 1});
                    })
                    .on('mouseout', function(d, i) {
                        $(element + ' [data-slice]').css('opacity', 1);
                    });


                //
                // Add legend
                //

                // Append list
                var legend = d3.select(element)
                    .append('ul')
                    .attr('class', 'chart-widget-legend')
                    .selectAll('li')
                    .data(pie(dataset))
                    .enter()
                    .append('li')
                    .attr('data-slice', function(d, i) {
                        return i;
                    })
                    .attr('style', function(d, i) {
                        return 'border-bottom: solid 2px ' + color(d.data.name);
                    })
                    .text(function(d, i) {
                        return d.data.name + ': ';
                    });

                // Append legend text
                legend.append('span')
                    .text(function(d, i) {
                        return d.data.count;
                    });
            }
        };
            var _pieWithDocs = function(element, size) {
                if (typeof d3 == 'undefined') {
                    console.warn('Warning - d3.min.js is not loaded.');
                    return;
                }

                // Initialize chart only if element exsists in the DOM
                if(element) {
                    var incomingCount = /*[[${incomingCount}]]*/ 1;
                    var innerCount = /*[[${innerCount}]]*/ 1;
                    var outCount = /*[[${outCount}]]*/ 1;

                    // Demo dataset
                    var dataset = [
                        { name: 'Входящие', count: incomingCount },
                        { name: 'Исходящие', count: outCount },
                        { name: 'Внутренние', count: innerCount }
                    ];

                    // Main variables
                    var d3Container = d3.select(element),
                        total = 0,
                        width = size,
                        height = size,
                        progressSpacing = 6,
                        progressSize = (progressSpacing + 2),
                        arcSize = 20,
                        outerRadius = (width / 2),
                        innerRadius = (outerRadius - arcSize);

                    // Colors
                    var color = d3.scale.ordinal()
                        .range(['#EF5350', '#29b6f6', '#66BB6A']);


                    // Create chart
                    // ------------------------------

                    // Add svg element
                    var container = d3Container.append("svg");

                    // Add SVG group
                    var svg = container
                        .attr("width", width)
                        .attr("height", height)
                        .append("g")
                        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


                    // Construct chart layout
                    // ------------------------------

                    // Add dataset
                    dataset.forEach(function(d){
                        total+= d.count;
                    });

                    // Pie layout
                    var pie = d3.layout.pie()
                        .value(function(d){ return d.count; })
                        .sort(null);

                    // Inner arc
                    var arc = d3.svg.arc()
                        .innerRadius(innerRadius)
                        .outerRadius(outerRadius);

                    // Line arc
                    var arcLine = d3.svg.arc()
                        .innerRadius(innerRadius - progressSize)
                        .outerRadius(innerRadius - progressSpacing)
                        .startAngle(0);


                    // Append chart elements
                    // ------------------------------

                    //
                    // Animations
                    //
                    var arcTween = function(transition, newAngle) {
                        transition.attrTween("d", function (d) {
                            var interpolate = d3.interpolate(d.endAngle, newAngle);
                            var interpolateCount = d3.interpolate(0, dataset[0].count);
                            return function (t) {
                                d.endAngle = interpolate(t);
                                middleCount.text(d3.format(",d")(Math.floor(interpolateCount(t))));
                                return arcLine(d);
                            };
                        });
                    };


                    //
                    // Donut paths
                    //

                    // Donut
                    var path = svg.selectAll('path')
                        .data(pie(dataset))
                        .enter()
                        .append('path')
                        .attr('class', 'd3-slice-border')
                        .attr('d', arc)
                        .attr('fill', function(d, i) {
                            return color(d.data.name);
                        })
                        .style({
                            'cursor': 'pointer'
                        });

                    // Animate donut
                    path
                        .transition()
                        .delay(function(d, i) { return i; })
                        .duration(600)
                        .attrTween("d", function(d) {
                            var interpolate = d3.interpolate(d.startAngle, d.endAngle);
                            return function(t) {
                                d.endAngle = interpolate(t);
                                return arc(d);
                            };
                        });


                    //
                    // Line path
                    //

                    // Line
                    var pathLine = svg.append('path')
                        .datum({endAngle: 0})
                        .attr('d', arcLine)
                        .style({
                            fill: color('New')
                        });

                    // Line animation
                    pathLine.transition()
                        .duration(600)
                        .delay(300)
                        .call(arcTween, (2 * Math.PI) * (dataset[0].count / total));


                    //
                    // Add count text
                    //

                    var middleCount = svg.append('text')
                        .datum(0)
                        .attr({
                            'class': 'd3-text',
                            'dy': 6
                        })
                        .style({
                            'font-size': '21px',
                            'font-weight': 500,
                            'text-anchor': 'middle'
                        })
                        .text(function(d){
                            return d;
                        });


                    //
                    // Add interactions
                    //

                    // Mouse
                    path
                        .on('mouseover', function(d, i) {
                            $(element + ' [data-slice]').css({
                                'opacity': 0.3,
                                'transition': 'all ease-in-out 0.15s'
                            });
                            $(element + ' [data-slice=' + i + ']').css({'opacity': 1});
                        })
                        .on('mouseout', function(d, i) {
                            $(element + ' [data-slice]').css('opacity', 1);
                        });


                    //
                    // Add legend
                    //

                    // Append list
                    var legend = d3.select(element)
                        .append('ul')
                        .attr('class', 'chart-widget-legend')
                        .selectAll('li')
                        .data(pie(dataset))
                        .enter()
                        .append('li')
                        .attr('data-slice', function(d, i) {
                            return i;
                        })
                        .attr('style', function(d, i) {
                            return 'border-bottom: solid 2px ' + color(d.data.name);
                        })
                        .text(function(d, i) {
                            return d.data.name + ': ';
                        });

                    // Append legend text
                    legend.append('span')
                        .text(function(d, i) {
                            return d.data.count;
                        });
                }
            };
        return {
            init: function() {
                _pieWithTasks("#pie_stats_tasks", 146);
                _pieWithDocs("#pie_stats_docs", 146);
            }
        }
        }();
        // When content loaded
        document.addEventListener('DOMContentLoaded', function() {
            StatisticWidgets.init();
        });


</script>
</body>
</html>
